<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Lance Nakamoto">
  <meta name="copyright" content="Maybe consider a Creative Commons license">
  <script src="https://use.fontawesome.com/975d74bd92.js"></script>
  <link rel="stylesheet" href="{{page.root}}css/foundation.css">
  <link rel="stylesheet" href="{{page.root}}css/coderay.css">
  <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
  <link rel="stylesheet" href="{{page.root}}css/footer.css">
  <script src="{{page.root}}js/vendor/modernizr.js"></script>
  <script src="{{page.root}}js/toc.js"></script>
</head>

